annotated-types==0.5.0
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
bertopic==0.15.0
blinker==1.6.2
blis==0.7.11
catalogue==2.0.10
certifi==2020.6.20
chardet==3.0.4
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloud-init==23.1.2
cmake==3.27.5
colorama==0.4.4
command-not-found==0.3
confection==0.1.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
cymem==2.0.8
Cython==0.29.36
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
dnspython==2.3.0
ec2-hibinit-agent==1.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
filelock==3.12.4
Fiona==1.9.4.post1
Flask==2.3.3
fsspec==2023.9.2
gensim==4.3.2
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.0
googletrans==3.1.0a0
gunicorn==21.2.0
h11==0.9.0
h2==3.2.0
hdbscan==0.8.33
hibagent==1.0.1
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
huggingface-hub==0.17.2
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.6.4
incremental==21.3.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
langcodes==3.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lingua-language-detector==1.3.2
lit==16.0.6
llvmlite==0.41.0
m3inference @ git+https://github.com/thanhan910/m3inference.git@65634e500a968ca72c40311dea3fbc743eb317a5
MarkupSafe==2.1.3
more-itertools==8.10.0
mpmath==1.3.0
murmurhash==1.0.10
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
numba==0.58.0
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
packaging==23.1
pandas==2.1.0
pathy==0.10.2
pexpect==4.8.0
Pillow==10.0.1
plotly==5.17.0
preshed==3.0.9
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pydantic==2.4.0
pydantic_core==2.10.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pymongo==4.5.0
pynndescent==0.5.10
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyproj==3.6.1
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==1.0.0
python-magic==0.4.24
pytz==2022.1
PyYAML==5.4.1
rauth==0.7.3
regex==2022.10.31
requests==2.25.1
rfc3986==1.5.0
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.2
SecretStorage==3.3.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
service-identity==18.1.0
shapely==2.0.1
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sos==4.4
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
ssh-import-id==5.11
sympy==1.12
systemd-python==234
tbb==2021.10.0
tenacity==8.2.3
thinc==8.1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.32.1
triton==2.0.0
Twisted==22.1.0
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ufw==0.36.1
umap-learn==0.5.4
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
waitress==2.1.2
wasabi==1.1.2
Werkzeug==2.3.7
zipp==1.0.0
zope.interface==5.4.0