@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');

body{
    padding:0;
    margin:0;
    font-family: 'Inter', sans-serif;
}

:root{
    --color-dark: #343a40;
    --color-grey: #868e96;
    --color-secondary: #f5f5f5;

    --color-blue: #339AF0;
    --color-lightblue: #D0EBFF;
    --color-green: #51CF66;
    --color-lightgreen: #D3F9D8;
    --color-orange: #FF922B;
    --color-red: #FF6B6B;

}

h1{
    font-size: 28px;
    font-weight: 900;
    color: var(--color-dark);
}

h2{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-dark);
}

h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark);
}

#text-search{
    font-size:20px;
    font-weight: 400;
    color: var(--color-grey);
}

.text-subtitle{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-grey);
}

.text-data{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-grey);
}